*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-26-week1learning.md
_posts/2022-08-22-randomnumber.md
.gitignore
_posts/2022-08-26-Focus-and-Habits-Notes.md
_posts/2022-08-25-bashstuff.md
_posts/2022-09-14-rpg.md
.gitignore
.gitignore
_posts/2022-09-07-quizplanning.md
.gitignore
_posts/2022-08-30-listanddictionarynotes.md
.gitignore
.gitignore
.gitignore
_posts/2022-08-27-thesurvey.md
_posts/2022-08-27-vocabulary.md
_posts/2022-09-05-listsanddictionariespairprog.md
_posts/2022-09-11-howigota5quiz.md
.gitignore
_posts/2022-08-23-pythonworkweek1.md
.gitignore
_posts/2022-09-13-pygametest.md
_posts/2022-09-21-javascriptnotes.md
_posts/2022-09-25-workwatchscrum.md
_posts/2022-09-29-workwatchplanning.md
_posts/2022-10-03-identifyingerrors.md
_posts/2022-10-10-workwatchcode.md
_posts/2022-10-19-testingapibackend.md
_posts/2022-10-10-workwatchcode.md
_posts/2022-10-23-workwatchfrontend.md
_posts/2022-11-16-toolsverification.md
_posts/2022-11-28-sections1-2notes.md
_posts/2022-11-30-sections5-7notes.md
.gitignore
_posts/2022-11-29-expressions-and-strings.md
_posts/2022-12-01-sections5-7notes.md
.gitignore
_posts/2022-12-06-section9-11notes.md
_posts/2022-12-08-tryingasciianimation.md
_posts/2022-12-07-notetemplate.md
_posts/2022-12-08-notetemplate.md
_posts/2022-11-29-expressions-and-strings.md
_posts/2022-12-12-sections14-15notes.md
_posts/2022-12-13-section16notes.md
_posts/2022-12-14-section17-18notes.md
_posts/2022-11-29-expressions-and-strings.md
_posts/2023-01-10-oopnotes.md
_posts/2023-01-12-viewandfrontend.md
_posts/2023-01-17-databaseoopnotes.md
_posts/2023-02-26-guideforreview.md
_posts/2023-03-06-unit2-2notes.md
_posts/2023-03-09-AP-unit2-3.md
_posts/2023-03-14-unit2-4anotes.md
_posts/2023-03-16-AP-unit2-4b.md
_posts/2023-03-22-DS-space_time_complexity.md
_posts/2023-03-29-DS-hashmaps.md
_posts/2023-03-31-tri3cardprojtang.md
_posts/2023-03-29-unit4dot3anotes.md
