*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-26-week1learning.md
_posts/2022-08-22-randomnumber.md
.gitignore
_posts/2022-08-26-Focus-and-Habits-Notes.md
_posts/2022-08-25-bashstuff.md
_posts/2022-09-14-rpg.md
.gitignore
.gitignore
_posts/2022-09-07-quizplanning.md
.gitignore
_posts/2022-08-30-listanddictionarynotes.md
.gitignore
.gitignore
.gitignore
_posts/2022-08-27-thesurvey.md
_posts/2022-08-27-vocabulary.md
_posts/2022-09-05-listsanddictionariespairprog.md
_posts/2022-09-11-howigota5quiz.md
.gitignore
_posts/2022-08-23-pythonworkweek1.md
.gitignore
_posts/2022-09-13-pygametest.md
_posts/2022-09-21-javascriptnotes.md
_posts/2022-09-25-workwatchscrum.md
_posts/2022-09-29-workwatchplanning.md
_posts/2022-10-03-identifyingerrors.md
_posts/2022-10-10-workwatchcode.md
_posts/2022-10-19-testingapibackend.md
_posts/2022-10-10-workwatchcode.md
_posts/2022-10-23-workwatchfrontend.md
_posts/2022-11-16-toolsverification.md
_posts/2022-11-28-sections1-2notes.md
_posts/2022-11-29-expressions-and-strings.md
