<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/thewatcherslogo.png" width="500" height="50" title="Notes" alt=""></td>
        <td><a href="{{site.baseurl}}/2022/08/26/week1learning.html">Week 1 Python Notes</a></td>
        <td><a href="{{site.baseurl}}//2022/08/26/Focus-and-Habits-Notes.html">Focus and Habits Notes</a></td>
        <td><a href="{{site.baseurl}}/landdnotes">Lists and Dictionaries Notes</a></td>
        <td><a href="{{site.baseurl}}/javascriptnotes">Javascript Notes</a></td>
        <td><a href="{{site.baseurl}}/programdesignnotes">Program Design and Development Notes</a></td>
        <td><a href="{{site.baseurl}}/identifyingerrorsnotes">Identifying and Correcting Errors Notes</a></td>
        <td><a href="{{site.baseurl}}/rapidapinotes">RapidAPI Notes</a></td>
    </tr>
</table>